<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} | {{ site_title }}</title>
        <link rel="stylesheet" href="./styles/index.css" />
        <script src="./scripts/mode.js"></script>
    </head>
    <body box-="square" shear-="top">
        <div>
            <header><h1 is-="badge">{{ site_title }}</h1></header>
            <main contenteditable="true">{{ content }}</main>
        </div>
        {{ include "footer.vto" }}
    </body>
</html>
