:root {
    --foreground: #cdcdcd;
    --background: #141415;
    --color0: #252530;
    --color8: #606079;
    --color1: #d8647e;
    --color9: #e08398;
    --color2: #7fa563;
    --color10: #99b782;
    --color3: #f3be7c;
    --color11: #f5cb96;
    --color4: #6e94b2;
    --color12: #8ba9c1;
    --color5: #bb9dbd;
    --color13: #c9b1ca;
    --color6: #aeaed1;
    --color14: #bebeda;
    --color7: #cdcdcd;
    --color15: #d7d7d7;
}

@font-face {
    font-family: "0xPropo";
    src: url("/fonts/0xPropo-Medium.woff2");
    font-weight: 400;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--background);
    cursor: url("/cursors/rose-pine-left_ptr-cursor.png") 8 8, auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 76.8rem;
    height: 100vh;
    margin-inline: auto;
    padding-block: 2rem 3rem;
    font-family: "0xPropo", sans-serif;
    font-size: 1.8rem;
    color: var(--foreground);
    line-height: 1.8;
}

h1 {
    color: var(--color4);
    margin-block-start: 3.2rem;
    margin-block-end: 1.2rem;
}

h2 {
    color: var(--color12);
    margin-block-start: 3.2rem;
    margin-block-end: 1.2rem;
}

ul {
    padding-left: 1.2em;
}

li {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

li::marker {
    content: "- ";
    color: var(--color8);
}

a {
    color: var(--foreground);
    text-decoration: underline;
    transition: color 0.15s ease-in-out;
}

a:hover,
a:focus-visible {
    color: var(--color5);
    cursor: url("/cursors/rose-pine-hand2-cursor.png") 16 8, pointer;
    outline: none;
}

::selection {
    background-color: var(--color3);
    color: var(--color0);
}
